@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --body-bg-color: #000000;
    --body-text-color: #D1D5DB;
    --header-dropdown-color: rgba(5, 5, 5, 255);
    --version-bg-color: rgba(255, 255, 255, .03);
    --tech-bg-color: rgba(255, 255, 255, .03);
    --project-bg-color: rgba(255, 255, 255, .03);
    --up-bg-color: rgba(255, 255, 255, .03);
    --scroll-bg-color: rgba(255, 255, 255, .05);
    --scroll-color: rgba(255, 255, 255, .08);
    --scroll-hover-color: rgba(255, 255, 255, .1);
    --input-bg-color: rgba(8, 8, 8, 255);
    --input-hover-color: rgba(255, 255, 255, .06);
}

html, body {
    background: var(--body-bg-color);
    color: var(--body-text-color);
    scroll-behavior: smooth;
}

main {
    font-family: 'Poppins', sans-serif;
}

.header-dropdown {
    background-color: var(--header-dropdown-color);
    box-shadow: 0px 3px 10px 10px #000;
    border: 1px solid rgba(255, 255, 255, .1);
}

.header, .activity {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.footer {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.version {
    background-color: var(--version-bg-color);
}

.tech, .project {
    background-color: var(--tech-bg-color);
    transition: .2s;
}

.tech:hover {
    transform: translateY(-3px);
}

.project {
    background-color: var(--project-bg-color);
}

.to-up {
    background-color: var(--up-bg-color);
}

.input {
    background-color: var(--input-bg-color);
    border: 1px solid rgba(255, 255, 255, .1);
    transition: .2s;
}

.input:hover {
    background-color: var(--input-hover-color);
}

svg {
    width: 18px;
    height: 18px;
}

svg.dropdown {
    width: 30px !important;
    height: 30px !important;
    margin: 9px 0;
}

.spin {
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 10px;
    transition: .2s;
}

::-webkit-scrollbar-track {
    background: var(--scroll-bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover-color);
}

.discord-online {
    border-radius: 50%;
    color: #3ba55d;
    box-shadow: 0px 0px 7px #3ba55d;
}

.discord-idle {
    border-radius: 50%;
    color: #faa81a;
    box-shadow: 0px 0px 7px #faa81a;
}

.discord-dnd {
    border-radius: 50%;
    color: #ed4245;
    box-shadow: 0px 0px 7px #ed4245;
}

.discord-offline {
    border-radius: 50%;
    color: #747f8d;
    box-shadow: 0px 0px 7px #747f8d;
}

.dctx-online {
    color: #3ba55d;
}

.dctx-idle {
    color: #faa81a;
}

.dctx-dnd {
    color: #ed4245;
}

.dctx-offline {
    color: #747f8d;
}

.discord-text {
    font-size: 10px;
}